body {
    padding: 0 0 20px 0;
    margin: 0;
}

header>h1 {
    text-align: center;
    color: rgb(247, 155, 36);
    font-size: 3.5rem;
}

.form-contents {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    border: 5px solid goldenrod;
    padding: 10px;
    background-color: whitesmoke;
}

img {
    align-self: center;
    margin: 20px 0;
    width: 30%;
    /* background-color: ; */
}

.inputs-container {
    display: flex;
    flex-direction: column;
}

.input {
    align-self: center;
}

#username, #password {
    width: 100%;
    padding: 12px 10px;
    border: 2.5px solid black;
    box-sizing: border-box;
    margin-top: 2px;
}

.input:nth-child(2) {
    margin-top: 10px;
}

.login-btn {
    align-self: center;
    width: 50%;
    height: 55px;
    padding: 8px 20px;
    margin: 10px 0 1px 0;
    background-color: darkgoldenrod;
    color: whitesmoke;
    border: none;
    cursor: pointer
}

.login-btn:hover {
    opacity: 0.85;
}

a {
    text-decoration: none!important;
    text-align: center;
    color: black;
    font-size: 1.1em;
    font-weight: lighter;
}

.register-link {
    text-decoration: underline;
}

#error {
    text-align: center;
    font-weight: bold;
    color: rgb(255, 51, 51);
    margin-bottom: 10px;
}