body {
    padding: 0 0 20px 0;
    margin: 0;
}

header {
    font-weight: 1.1em;
    text-align: center;
}

.form-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputs-container {
    width: 50%;
    padding: 10px;
    margin: 10px 0;
    display: table;
    border-spacing: 10px;
}

p {
    font-size: 1.2em;
    font-weight: lighter;
    align-self: center;
    margin: 0;
}

a {
    color: inherit;
    text-decoration-color:  darkgoldenrod;
    text-decoration-thickness: 2px;
}

.input {
    font-size: 1.3em;
    font-weight: 500;
    margin-bottom: 15px;
    display: table-row;
}

.input > input {
    width: 30%;
    height: 35px;
    text-align: center;
}

.input > label {
    display: table-cell;
    text-align: left;
    margin-left: 0;
}

.input > label > strong {
    font-weight: 500;
}

button {
    align-self: center;
    width: 45%;
    height: 55px;
    padding: 8px 20px;
    margin: 25px 0 0 0;
    background-color: darkgoldenrod;
    color: whitesmoke;
    border: none;
    cursor: pointer
}

button:hover {
    opacity: 0.85;
}