body {
    padding: 0 0 20px 0;
    margin: 0;
}

header {
    font-weight: 1.1em;
    text-align: center;
    margin-bottom: 25px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    font-size: 1.2em;
    font-weight: lighter;
    align-self: center;
    margin: 0;
}

a {
    color: inherit;
    text-decoration-color: darkgoldenrod;
    text-decoration-thickness: 2px;
}

.input {
    font-size: 1.3em;
    font-weight: 500;
    margin-bottom: 30px;
}

.input>input {
    width: 30%;
    height: 35px;
    text-align: center;
}

.input>label {
    display: block;
    margin: 15px 0 7px 0;
}

.input>label>strong {
    font-weight: 500;
}

button {
    align-self: center;
    width: 45%;
    height: 55px;
    padding: 8px 20px;
    margin: 25px 0 0 0;
    background-color: darkgoldenrod;
    color: whitesmoke;
    border: none;
    cursor: pointer
}

button:hover {
    opacity: 0.85;
}