body {
    padding: 0 0 20px 0;
    margin: 0;
}

header {
    text-align: center;
}

.form-contents {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 50%;
    margin: auto;
}

.user-options {
    display: flex;
    flex-direction: column;
}

.label-option input {
    display: none;
}

/* span text */

.label-option {
    position: relative;
    cursor: pointer;
    font-size: 22px;
    margin-bottom: 20px;
    padding-left: 40px;
}

/* span for custom radio button */

.option {
    position: absolute;
    left: 5px;
    height: 25px;
    width: 25px;
    background-color: rgb(182, 182, 182);
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */

.label-option:hover input~.option {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */

.label-option input:checked~.option {
    background-color: rgb(247, 155, 36);
}

/* Create the indicator (the dot/circle - hidden when not checked) */

.option:after {
    position: absolute;
    display: none;
    content: "";
}

/* Show the indicator (dot/circle) when checked */

.label-option input:checked~.option:after {
    display: block;
}

/* Style the indicator (dot/circle) */

.label-option .option:after {
    top: 7px;
    left: 7px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: white;
}

button {
    align-self: center;
    width: 60%;
    height: 55px;
    padding: 8px 20px;
    margin: 10px 0;
    background-color: darkgoldenrod;
    color: whitesmoke;
    border: none;
    cursor: pointer
}

button:hover {
    opacity: 0.85;
}