body {
    padding: 0 0 20px 0;
    margin: 0;
}

header {
    font-weight: 1.1em;
    text-align: center;
    margin-bottom: 25px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    font-size: 1.2em;
    font-weight: lighter;
    align-self: center;
    margin: 0;
}

a {
    color: inherit;
    text-decoration-color: darkgoldenrod;
    text-decoration-thickness: 2px;
}

button {
    align-self: center;
    width: 45%;
    height: 55px;
    padding: 8px 20px;
    margin: 25px 0 0 0;
    background-color: darkgoldenrod;
    color: whitesmoke;
    border: none;
    cursor: pointer
}

button:hover {
    opacity: 0.85;
}

.user-options {
    display: flex;
    flex-direction: column;
    border: 5px solid darkgoldenrod;
    padding: 50px;
    width: 30%;
    margin: 15px 0;
}

.label-option input {
    display: none;
}

.label-option {
    position: relative;
    cursor: pointer;
    font-size: 22px;
    margin-bottom: 20px;
    padding-left: 40px;
}

.option {
    position: absolute;
    left: 5px;
    height: 25px;
    width: 25px;
    background-color: rgb(182, 182, 182);
}

.label-option:hover input~.option {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */

.label-option input:checked~.option {
    background-color: rgb(247, 155, 36);
}

/* Create the indicator (the dot/circle - hidden when not checked) */

.option:after {
    position: absolute;
    display: none;
    content: "";
}

/* Show the indicator (dot/circle) when checked */

.label-option input:checked~.option:after {
    display: block;
}

.label-option .option:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}